<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="FoldersPaths" value="C:\AntaresVision\ITSFolders\Core\Completed,
			                           C:\AntaresVision\ITSFolders\Core\Error,
									   C:\AntaresVision\ITSFolders\Core\Input,
									   C:\AntaresVision\ITSFolders\Core\Output,
									   C:\AntaresVision\ITSFolders\Transformation\CoreToCustomer\Completed,
									   C:\AntaresVision\ITSFolders\Transformation\CoreToCustomer\Error,
									   C:\AntaresVision\ITSFolders\Transformation\CustomerToCore\Completed,
									   C:\AntaresVision\ITSFolders\Transformation\CustomerToCore\Error"/>
		                               <!--Set directories, where inner files have to be archived and removed-->
		                               <!--Paths should be listed using "," separator-->
		<add key="DaysToSet" value="-90"/> <!--Program will archive and remove files, that have creation date "value" before now-->
		                                   <!--"value" must be set to negative or zero-->
		<add key="PutArchivesTo" value="D:\Archive\"/> <!--Select directory where you want to put archives-->
	</appSettings>
</configuration>