<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="FoldersPaths" value="D:\AntaresVision\ITSFolders\Core\Completed"/>
		                               <!--Set directories, where inner files have to be archived and removed-->
		                               <!--Paths should be listed using "," separator-->
		<add key="DaysToSet" value="0"/> <!--Program will archive and remove files, that have creation date "value" before now-->
		                                   <!--"value" must be set to negative or zero-->
		<add key="PutArchivesTo" value="D:\Stuff"/> <!--Select directory where you want to put archives-->
	</appSettings>
</configuration>